body {
    font-family: Times New Roman;
    background: black;
    color: white;
    margin: 0;
}

section {
    padding: 50px;
}

nav {
    padding: 30px;
}

nav a {
    margin: 20px;
    color: white;
}
